@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.justify-center {
    display: flex;
    justify-content: center;
}

@keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-zoom-in-out {
    animation: zoom-in-out 7s infinite alternate; /* Adjust duration and timing function as needed */
  }
  

  
  



